# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
**/*.tfvars
!**/*.tfvars.example

# Talos
talosconfig
*.talosconfig
controlplane.yaml
worker.yaml

# macOS
.DS_Store
